@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Sofia+Sans+Condensed:ital,wght@1,300&display=swap');

:root {
  overflow: hidden;
  user-select: none;
  background-color: #11111b;
}

h1 {
  font-family: 'Sofia Sans Condensed', sans-serif;
  text-align: center;
  color: #fab387
}

h2, a {
  font-family: 'Sofia Sans Condensed', sans-serif;
  text-align: center;
  text-decoration:none;
  color: #cba6f7;
}

a:hover {
  color: #91d7e3;
}

.header {
  border-radius: 15px;
  border: 2px solid #313244;
  background-color: #181825;
  position: relative;
}

.dropbtn {
  border-radius: 15px;
  margin-top: 25%;
  margin-left: 5%;
  border: none;
  background-color: #181825;
  color: white;
  padding: 12px;
  font-size: 20px;
}

.dropdown {
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 15px;
  border: 2px solid #1e1e2e;
  position: absolute;
  background-color: #1e1e2e;
  min-width: 112px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 15px;
  border: 2px solid #1e1e2e;
  color: #fab387;
  background-color: #181825;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #f9e2af;
  background-color: #11111b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #45475a;
}
