@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Sofia+Sans+Condensed:ital,wght@1,300&display=swap');

body {
  background-color: #181926;
  font-family: 'Sofia Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  padding: 20px;
  text-align: center;
  font-size: 36px;
  margin: 0;
  color: #ed8796;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.social-links {
  border: 5px solid #24273a;
  background-color: #2c2f44;
  border-radius: 10px;
  margin: 20px auto;
  width: 10%;
  text-align: center;
}

.social-links a {
  display: block;
  margin-bottom: 10px;
  color: #a6da95;
  text-decoration: none;
  margin: 5px 0;
  margin-left: 5px;
  font-size: 18px;
}

footer {
  color: #f38ba8;
  text-align: center;
  padding: 10px;
}
