@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Sofia+Sans+Condensed:ital,wght@1,300&display=swap');

:root {
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
  user-select: none;
  background-color: #11111b;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    text-transform: lowercase;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: #fab387;
  }
